@font-face {
  font-family: 'LeagueSpartan-Bold';
  src: url('../fonts/LeagueSpartan-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

body, html {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  --primary-color: #fff;
  --secondary-color: #000;
}

h1 {
  font-size: 45px;
}

@media(max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  h3 {
    font-size: 20px;
  }
}

/******************************************************************** Intro *****************************************************************************/
#intro {
  position: fixed;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  z-index: 0;
  background: -o-linear-gradient(top, #000, #bb2115);
  background: -ms-linear-gradient(top, #000, #bb2115);
  background: -moz-linear-gradient(top, #000, #bb2115);
  background: -webkit-linear-gradient(top, #000, #bb2115);
  background: linear-gradient(top, #000, #bb2115);
  filter:progid: DXImageTransform.Microsoft.gradient(startColorStr='#000', EndColorStr='#bb2115');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#000', EndColorStr='#bb2115')";
  transition: opacity 2s;
}

/*#intro.morning {
  opacity: 0.9;
}*/

  #intro #intro-name {
    font-family: 'LeagueSpartan-Bold', Helvetica, sans-serif;
    font-size: 100px;
    letter-spacing: 0.7px;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 10px 5px;
  }
  
  #intro #intro-body {
    font-size: 25px;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 10px 5px;
  }

#canvas-wrap {
  overflow: hidden;
  position: relative;
}

#landscape, #grass, #moon, #sun, #bb8 {
  width: 100%;
  position: absolute;
}

#landscape {
  bottom: 66px;
  height: 350px;
  z-index: 2;
  background: url('../assets/img/landscape.png') repeat-x;
  background-position: -450px;
  background-size: auto 350px;
}

#grass {
  bottom: 0;
  height: 150px;
  z-index: 5;
  background: url('../assets/img/grass.png') repeat-x left;
  background-size: auto 150px;
}

#moon {
  height: 300px;
  top: 0;
  z-index: 1;
  background: url('../assets/img/moon.png') no-repeat;
  background-position: 100%;
  background-size: 300px;
}

#sun {
  height: 450px;
  z-index: 1;
  background: url('../assets/img/sun.png') no-repeat;
  background-position: 50%;
  background-size: 450px;
}

#soil {
  margin-top: -20px;
  height: 269;
  background: url('../assets/img/soil.png') repeat-x;
}

#overlay {
  width: 100%;
  display: block;
  position: absolute;
  top: 35%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  margin: auto;
  z-index: 4;
}

/************* Shooting Stars ****************/
.star {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #FFF;
  top: 30%;
  left: 70%;
  position: absolute;
  transform-origin: 100% 0;
  animation: star-ani 5s infinite ease-out;
  animation-direction: normal;
  opacity: 0;
}
.star:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 4px;
  border: 2px solid #F00;
  border-width: 2px 150px 2px 150px; 
  border-color: transparent transparent transparent #FFF;
  transform: rotate(-45deg) translate3d(1px, -1px, 0);
  transform-origin: 0% 100%;
  animation: shooting-ani 1s infinite  ease-out;
  animation-direction: normal;
}

.pink {
  top: 150px;
  left: 500px;
  background: #ff5a99;
  animation-delay: 1.8s;
}
.pink:after {
  border-color: transparent transparent transparent #ff5a99 ;
  animation-delay: 1.8s;
}

.blue {
  top: 100px;
  left: 450px;
  background: #4dabff ;
  animation-delay: 4.5s;
}
.blue:after {
  border-color: transparent transparent transparent #4dabff;
  animation-delay: 4.5s;
}

.yellow {
  top: 50px;
  left: 600px;
  background: #ffcd5c;
  animation-delay: 5.8s;
}
.yellow:after {
  border-color: transparent transparent transparent #ffcd5c;
  animation-delay: 5.8s;
}

@-webkit-keyframes shooting-ani {
  0% {
    
  }
  50% {
    transform: scale(1) rotate(-45deg) translate(0px, 0px);
  }
  100% {
    transform: scale(0.5) rotate(-45deg) translate(0px, -1px);
  }
}

@-webkit-keyframes star-ani {
  0% {
    opacity: 0;
    transform: scale(0) rotate(0) translate3d(0, 0, 0);
  }
  10% {
    opacity: 1;
    transform: scale(1) rotate(0) translate3d(-200px, 200px, 0);
  }
  20% {
    opacity: 0;
    transform: scale(1) rotate(0) translate3d(-300px, 300px, 0);
  }
}

@media(min-width: 1200px) {
  #intro #move_btns {
    margin-top: 30px;
  }

  #intro .move_btn {
    display: inline-block;
    font-size: 3em;
    height: 60px;
    width: 60px;
    padding-top: 6px;
    margin-left: 2em;
    margin-right: 2em;
    color: #2f4f4f;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 5px;
    cursor: pointer;
  }
  #intro .move_btn::before {
    font-weight: 700;
  }
  #intro .move_btn:hover,
  #intro .move_btn:focus {
    background-color: #ddd;
    transform: translateY(2px);
  }

    #intro .move_btn.left {
      padding-right: 3px;
    }
    #intro .move_btn.right {
      padding-left: 3px;
    }

  /***************** BB8 *******************/
  /*MAIN BB-8 PARTS*/
  #bb8 {
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    min-height: 16.5rem;
    z-index: 3;
  }

  .top-part {
    position: relative;
    z-index: 3;
  }
  .top-part.move-right {
    animation: bounceRight 2s ease-out infinite;
  }
  @keyframes bounceRight {
    0%, 100% {
      top: -0.3rem;
      transform: rotate(0deg);
      left: 0;
    }
    20% {
      top: 0.7rem;
      transform: rotate(-11deg);
      left: -2rem;
    }
    50% {
      top: 0.7rem;
      transform: rotate(-15deg);
      left: -3rem;
    }
    70% {
      top: 0.7rem;
      transform: rotate(-11deg);
      left: -2rem;
    }
    90% {
      top: 0.5rem;
      transform: rotate(-6deg);
      left: -0.5rem;
    }
  }
  .top-part.move-left {
    animation: bounceLeft 2s ease-out infinite;
  }
  @keyframes bounceLeft {
    0%, 100% {
      top: -0.3rem;
      transform: rotate(0deg);
      left: 0;
    }
    20% {
      top: 0.7rem;
      transform: rotate(11deg);
      left: 2rem;
    }
    50% {
      top: 0.7rem;
      transform: rotate(15deg);
      left: 3rem;
    }
    70% {
      top: 0.7rem;
      transform: rotate(11deg);
      left: 2rem;
    }
    90% {
      top: 0.5rem;
      transform: rotate(6deg);
      left: 0.5rem;
    }
  }
  .antenna {
    position: absolute;
    top: -1.5rem;
    left: 4.512rem;
    width: 0.125rem;
  }
  .antenna.short {
    height: 2rem;
    width: 0.2rem;
    background-color: #b1b1b1;
  }
  .antenna.long {
    left: 5.504rem;
    top: -2.8rem;
    height: 3.504rem;
    background-color: #858585;
  }

  .sphere {
    border-radius: 50%;
    position: relative;
    width: 16rem;
    height: 16rem;
    background-color: #e3e3e3;
    display: flex;
    flex-wrap: wrap;
    transform: rotate(10deg);
    border: 0.175rem solid #cccccc;
    overflow: hidden;
    box-shadow: inset 0 0 2rem 0.6rem #dcdcdc;
  }

  .part {
    width: 50%;
    height: 50%;
    position: relative;
  }
  .part.left {
    border-right: 0.175rem solid #cccccc;
  }
  .part.top {
    border-bottom: 0.175rem solid #cccccc;
  }
  .part:before, .part:after {
    position: absolute;
    content: "\25CB";
    color: #b1b1b1;
  }
  .part.top.left:before {
    bottom: 55%;
    right: 18%;
  }
  .part.top.left:after {
    bottom: 18%;
    right: 55%;
  }
  .part.top.right:before {
    bottom: 55%;
    left: 18%;
  }
  .part.top.right:after {
    bottom: 18%;
    left: 55%;
  }
  .part.bottom.left:before {
    top: 55%;
    right: 18%;
  }
  .part.bottom.left:after {
    top: 18%;
    right: 55%;
  }
  .part.bottom.right:before {
    top: 55%;
    left: 18%;
  }
  .part.bottom.right:after {
    top: 18%;
    left: 55%;
  }

  .center {
    position: absolute;
    top: 24%;
    left: 24%;
    border: 0.5125rem solid #e88250;
    background-color: #ffffff;
    border-radius: 50%;
    color: #cccccc;
  }
  .center i {
    font-size: 7.008rem;
  }

  .semi-circle {
    height: 7.008rem;
    width: 7.008rem;
    border-radius: 50%;
    border: 0.175rem solid #e88250;
    position: absolute;
    background-color: #ffffff;
  }
  .semi-circle.top {
    top: -30%;
    left: 27%;
  }
  .semi-circle.right {
    top: 28%;
    left: 85%;
  }
  .semi-circle.bottom {
    top: 85%;
    left: 27%;
  }
  .semi-circle.left {
    top: 28%;
    left: -30%;
  }

  /*BB-8 HEAD*/
  .head {
    position: relative;
    top: 0.5rem;
    width: 9.008rem;
    height: 5.008rem;
    overflow: hidden;
    border-bottom: 0.175rem solid #cccccc;
  }
  .head .head-circle {
    border-radius: 50%;
    position: relative;
    background-color: #fff;
    width: 9.008rem;
    height: 9.008rem;
    height: 10rem;
    overflow: hidden;
    border: 0.175rem solid #cccccc;
    box-shadow: inset 0 0 1rem 0.2rem #dcdcdc;
  }
  .head .head-circle .head-top-lines {
    margin-top: 0.4rem;
    height: 0.85rem;
    width: 100%;
    border-top: 0.4rem solid #b1b1b1;
    border-bottom: 0.25rem solid #e88250;
  }
  .head .head-circle .eye-circle {
    border-radius: 50%;
    position: relative;
    width: 1.088rem;
    height: 1.088rem;
    margin: 0.4rem auto 0.5rem;
    background-color: #cccccc;
    box-shadow: 0 0 0 0.5rem #000000, 0 0 0 0.675rem #858585, 0 0 0 0.875rem #ffffff;
    left: 0;
    transition: 0.3s ease-in;
  }
  .move-right .head .head-circle .eye-circle {
    left: 20%;
  }
  .move-left .head .head-circle .eye-circle {
    left: -20%;
  }
  .head .head-circle .eye-circle .eye-inner.circle {
    border-radius: 50%;
    position: relative;
    width: 1.296rem;
    height: 1.296rem;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #000000;
    margin: -0.45rem 0 0 -0.65rem;
  }
  .head .head-circle .right-circle {
    border-radius: 50%;
    position: relative;
    width: 0.8rem;
    height: 0.8rem;
    float: right;
    left: -2rem;
    top: -0.5rem;
    background-color: #000000;
    box-shadow: 0 0 0 0.0815rem #ffffff, 0 0 0 0.2rem #858585;
    transition: 0.3s ease-in;
  }
  .move-right .head .head-circle .right-circle {
    left: -6%;
  }
  .move-left .head .head-circle .right-circle {
    left: -44%;
  }
  .head .head-circle .bottom-row-details {
    width: 120%;
    display: flex;
    position: relative;
    top: -0.175rem;
    left: -16%;
    transition: 0.3s ease-in;
  }
  .move-right .head .head-circle .bottom-row-details {
    left: 5%;
  }
  .move-left .head .head-circle .bottom-row-details {
    left: -35%;
  }
  .head .head-circle .bottom-row-details .rect {
    background-color: #e88250;
    border: 0.0625rem solid #cccccc;
    height: 0.8rem;
    margin-right: 0.4rem;
  }
  .head .head-circle .bottom-row-details .rect.narrow {
    width: 0.4rem;
  }
  .head .head-circle .bottom-row-details .rect.wide {
    width: 1.3rem;
  }
  .head .head-circle .bottom-row-details .rect.short {
    height: 0.5rem;
    width: 0.5rem;
    margin-left: 1.2rem;
    display: flex;
    align-self: flex-end;
  }
  .head .head-circle .bottom-row-details .small.circle {
    border-radius: 50%;
    position: relative;
    width: 0.3rem;
    height: 0.3rem;
    margin: 0.2rem 1rem 0;
    box-shadow: 0 0 0 2px #cccccc, 0 0 0 3px #ffffff, 0 0 0 5px #cccccc;
  }

  .head-bottom {
    position: relative;
    top: 0.5rem;
    width: 9.008rem;
    height: 1.2rem;
    overflow: hidden;
    z-index: 3;
  }
  .head-bottom .head-bottom-inner {
    position: absolute;
    top: -440%;
    left: -2.5%;
    width: 9.504rem;
    height: 8rem;
    border-radius: 50%;
    background-color: #b1b1b1;
  }

  /*MEDIA QUERIES*/
  @media (max-height: 500px) {
    .sphere {
      width: 12rem;
      height: 12rem;
    }

    .center i {
      font-size: 5.256rem;
    }

    .semi-circle {
      height: 5.256rem;
      width: 5.256rem;
    }

    .head {
      width: 6.756rem;
      height: 3.756rem;
    }
    .head .head-circle {
      width: 6.756rem;
      height: 7.5rem;
    }
    .head .head-circle .eye-circle {
      width: 0.816rem;
      height: 0.816rem;
      margin: 0 auto 0.5rem;
    }
    .head .head-circle .eye-circle .eye-inner.circle {
      width: 0.972rem;
      height: 0.972rem;
    }
    .head .head-circle .right-circle {
      width: 0.6rem;
      height: 0.6rem;
      left: -1.5rem;
    }
    .head .head-circle .bottom-row-details .small.circle {
      height: 0.2rem;
      margin: 0.1rem 1rem 0;
      box-shadow: 0 0 0 2px #cccccc;
    }

    .head-bottom {
      width: 6.756rem;
      height: 0.9rem;
    }
    .head-bottom .head-bottom-inner {
      width: 7.128rem;
      height: 6rem;
    }

    .antenna.short {
      left: 3.384rem;
    }
    .antenna.long {
      left: 4.128rem;
      top: -1.98rem;
      height: 2.628rem;
    }
  }
}

@media(max-width: 768px) {
  #intro #intro-name {
    font-size: 50px;
  }

  #intro #intro-body {
    width: 250px;
    margin: auto;
  }
  
  #landscape {
    background-position: 160px;
  }

  #moon {
    background-position: 50%;
    background-size: 200px;
  }

  #soil {
    margin-top: -1px;
    height: 100px;
    background-size: auto 100px;
  }

  #overlay {
    top: 50%;
  }
}

/******************************************************************* Content *****************************************************************************/
#content {
  color: #2f4f4f;
  position: absolute;
  top: 100%;
  background-color: #fff;
  width: 100%;
}

#content section {
  padding-top: 50px;
}

#content h3.description {
  margin-bottom: 50px;
}

#content hr.black {
  color: #2f4f4f;
  background-color: #2f4f4f;
  border-color: #2f4f4f;
  border-width: 3px;
}

#content hr.white {
  color: #fff;
  background-color: #fff;
  border-color: #fff;
  border-width: 3px;
}

/******************************************************************* Navbar *****************************************************************************/
.navbar-custom {
  background-color: var(--secondary-color);
  border-bottom: #000 solid;
  transition: all 0.2s ease-in-out;
}
.navbar-custom.affix {
  top: 0;
  width: 100%;
  z-index: 999;
}

.navbar-custom .nav li > a {
  color: #fff;
}
.navbar-custom .nav li > a:hover,
.navbar-custom .nav li > a:focus,
.navbar-custom .nav li > a:active {
  background-color: transparent;
}

#nav-sub {
  margin-top: -66px;
  height: 66px;
  background-color: #000;
}

@media(min-width: 768px) {
  .navbar-custom {
    position: sticky;
    top: 0;
    margin-top: -66px;
    padding-top: 8px;
    -webkit-transition: background .3s ease-in-out, padding .3s ease-in-out;
    -moz-transition: background .3s ease-in-out, padding .3s ease-in-out;
    transition: background .3s ease-in-out, padding .3s ease-in-out;
  }

  .navbar-custom .nav {
    width: 100%;
    text-align: center;
  }
    .navbar-custom .nav li {
      float: none;
      font-size: 20px;
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
    }
    .navbar-custom .nav li > a {
      color: var(--primary-color);
    }
    .navbar-custom .nav > li > a:after {
      content: '';
      display: block;
      margin: auto;
      margin-top: 7px;
      height: 2px;
      width: 0;
      background-color: var(--primary-color);
      transition: width .5s ease, background-color .5s ease;
    }
    /*.navbar-collapse > .navbar-right > li:last-child > a:after {
      background: #fff;
    }*/
    .navbar-custom .nav > li > a.underline:after {
      width: 100%;
    }
}

@media(max-width: 768px) {
  .navbar-custom {
    top: 0;
    padding-bottom: 8px;
  }

  .icon-bar {
    background-color: var(--primary-color);
  }

  .navbar-toggle {
    margin-top: 12px;
    margin-bottom: 6px;
  }

  .navbar-brand {
    margin-top: -10px;
  }

  .navbar-collapse {
    margin-top: 8px;
    margin-bottom: -8px;
  }
}

/****************************************************************** About Me *****************************************************************************/
#about {
  height: 950px;
}

#about h3 {
  line-height: 40px;
}

#about h4.body {
  line-height: 30px;
  font-weight: normal;
}

.red {
  color: #bb2115;
}

#resume {
  margin-top: -40px;
  padding: 15px 20px;
  font-size: 20px;
  color: #2f4f4f;
  border: 3px #2f4f4f solid;
  border-radius: 0px;
  transition: all 0.2s ease;
}

@media(min-width: 768px) {
  .interest-margin {
    margin-top: -40px;
  }
}

@media(max-width: 768px) {
  #about {
    height: 900px;
  }
  #about img {
    height: 200px;
  }

  #resume {
    margin-top: 25px;
    font-size: 20px;
  }
}

/****************************************************************** Projects *****************************************************************************/
#projects {
  height: 1675px;
  background-color: #f0f0f0;
}

.project-top {
}

.project-bot {
  margin-top: 40px;
}

.block {
  display: inline-block;
  height: 300px;
  width: 450px;
  background: #fff;
  border: 3px #2f4f4f solid;
}

.project_img {
  margin-top: 50px;
}

.project_body {
  background-color: #2f4f4f;
  color: #f0f0f0;
  border: solid #2f4f4f;
  top: 92px;
  bottom: 39px;
  left: 19px;
  right: 19px;
  font-size: 1em;
  opacity: 0;
  overflow: hidden;
  padding: 3.75em 3em;
  position: absolute;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.project_body:hover {
  opacity: 1;
}

.project_desc {
  font-weight: 300;
  margin-top: -30px;
}

.project_btn {
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  color: #2f4f4f;
  background-color: #f0f0f0;
  border-radius: 0px;
  border: 3px #2f4f4f solid;
}
.project_btn:hover,
.project_btn:focus {
  border: 3px #2f4f4f solid;
}

#pint {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

#theta-tau {
  margin-top: 70px;
}

#cmaa {
  margin-top: 70px;
}

#tothetens {
  margin-top: 30px;
}

#bulb {
  background-color: #fff;
}

#pokemon {
  background-color: #fff;
}

/*.project_body:after,
.project_body:before {
  top: 92px;
  bottom: 39px;
  left: 19px;
  right: 19px;
  display: inline;
  opacity: 0;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.6s 0.2s;
  -moz-transition: 0.6s 0.2s;
  transition: 0.6s 0.2s;
}*/

@media(max-width: 768px) {
  #projects {
    height: 2800px;
  }

  .block {
    height: 270px;
    width: 90vw;
  }

  .project_body {
    top: 70px;
    bottom: 28px;
    left: 15px;
    right: 15px;
  }
}

/******************************************************************* Skills ******************************************************************************/
#skills {
  height: 985px;
}

#curr_fav {
  margin-top: 30px;
}

#languages {
  margin-top: 50px;
}

.skills_img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.wrapper {
  height: 150px;
  width: 120px;
  margin-left: 220px;
  transition: all 5s linear 0s;
}
.wrapper:hover {
  transform: scale(0);
}

.wrapper:hover #code {
  background: url('../assets/img/code-hover.png') no-repeat;
}

.wrapper:hover #tools {
  background: url('../assets/img/tools-hover.png') no-repeat;
}

#code {
  background: url('../assets/img/code.png') no-repeat;
}

#tools {
  margin-left: 10px;
  background: url('../assets/img/tools.png') no-repeat;
}

#code, #tools {
  height: 100px;
  width: 120px;
  position: absolute;
  animation: jump 1s infinite;
  transition: background 0.3s ease-in-out;
  z-index: 1;
}

.wrapper:hover #code,
.wrapper:hover #tools,
#code,
#tools {
  background-size: auto 100px;
}

.shadow {
  position: absolute;
  height: 50px;
  width: 40px;
  bottom: 0;
  margin-left: 39px;
  background: rgba(20,20,20,.1);
  box-shadow: 0px 0 10px 18px rgba(20,20,20,.1);
  border-radius: 30px / 40px;
  transform: scaleY(0.3);
  animation: shrink 1s infinite;
}

.click_me {
  margin-top: 20px;
  margin-left: -120px;
  animation: pulse 1s linear infinite;
}

@keyframes jump {
  0% {
    top: 0;
    animation-timing-function: ease-in;
  }
  50% {
    top: 30px;
    animation-timing-function: ease-out;
  }
  55% {
    top: 40px;
    animation-timing-function: ease-in;
  }
  65% {
    top: 20px;
    animation-timing-function: ease-out;
  }
  95% {
    top: 0;
    animation-timing-function: ease-in;
  }
  100% {
    top: 0;
    animation-timing-function: ease-in;
  }
}

@keyframes shrink {
  0% {
    bottom: 0;
    animation-timing-function: ease-in;
  }
  50% {
    bottom: 20px;
    margin-left: 49px;
    width: 20px;
    height: 5px;
    background: rgba(20,20,20,.3);
    box-shadow: 0px 0 20px 35px rgba(20,20,20,.3);
    border-radius: 20px / 20px;
    animation-timing-function: ease-out;
  }
  100% {
    bottom: 0;
    margin-left: 39px;
    height: 50px;
    width: 40px;
    background: rgba(20,20,20,.1);
    box-shadow: 0px 0 10px 18px rgba(20,20,20.1);
    border-radius: 30px / 40px;
    animation-timing-function: ease-in;
  }
}

@keyframes pulse {
  0% { 
    transform: scale(1); 
    animation-timing-function: ease-in;
  }
  50% { 
    transform: scale(.95); 
    animation-timing-function: ease-out;
  }
  55% { 
    transform: scale(.9);
    animation-timing-function: ease-in;
  }
  60% { 
    transform: scale(.95);
    animation-timing-function: ease-out;
  }
  95% { 
    transform: scale(1); 
    animation-timing-function: ease-in;  
  }
  100% { 
    transform: scale(1);
    animation-timing-function: ease-in;
  }
}

@media(max-width: 768px) {
  #skills {
    height: 1200px;
  }

  #skills #curr_fav img {
    height: 50px;
  }
 
  #skills #languages h4 {
    font-size: 13px;
  }

  #skills #languages img {
    height: 15px;
    margin-top: 8px;  
  }

  #skills #languages .click_me img {
    height: 40px;
  }

  #languages {
    margin-top: 20px;
  }

  .wrapper {
    height: 115px;
    width: 90px;
    margin-left: 145px;
  }
  .wrapper:hover #code,
  .wrapper:hover #tools,
  #code,
  #tools {
    background-size: auto 70px;
  }

  #code,
  #tools {
    height: 70px;
    width: 90px;
  }

  #tools_mobile {
    margin-top: 120px;
  }

  .shadow {
    height: 25px;
    width: 20px;
    margin-left: 32px;
  }

  .click_me {
    margin-top: 5px;
    margin-left: -90px;
  }

  @keyframes shrink {
    0% {
      bottom: 0;
      animation-timing-function: ease-in;
    }
    50% {
      bottom: 10px;
      margin-left: 37px;
      width: 8px;
      height: 2px;
      background: rgba(20,20,20,.3);
      box-shadow: 0px 0 10px 18px rgba(20,20,20,.3);
      border-radius: 20px / 20px;
      animation-timing-function: ease-out;
    }
    100% {
      bottom: 0;
      margin-left: 32px;
      height: 25px;
      width: 20px;
      background: rgba(20,20,20,.1);
      box-shadow: 0px 0 10px 18px rgba(20,20,20.1);
      border-radius: 30px / 40px;
      animation-timing-function: ease-in;
    }
  }
}

/******************************************************************* Skills ******************************************************************************/
#contact {
  height: 875px;
  color: #fff;
  background-color: #2f4f4f;
}

#contact input, #contact textarea {
  width: 100%;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 20px;
}

#contact textarea {
  height: 300px;
}

#contact label {
  width: 100%;
  font-size: 25px;
  text-align: left;
}

#contact input.submit_btn {
  width: 120px;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  color: #2f4f4f;
  background-color: #fff;
  border-radius: 0px;
  transition: all 0.2s ease;
}
#contact input.submit_btn:hover,
#contact input.submit_btn:focus {
  background-color: #f0f0f0;
}

#social_btns {
  margin-top: 30px;
}

.social_btn {
  display: inline-block;
  font-size: 2em;
  height: 50px;
  width: 50px;
  padding-top: 7px;
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
  background: transparent;
  border: solid #fff;
  border-radius: 50%;
  transition: all 0.2s ease;
}
.social_btn:hover,
.social_btn:focus {
  background-color: #fff;
  color: #2f4f4f;
}

@media(max-width: 768px) {
  #contact {
    height: 775px;
  }

  #contact textarea {
    height: 200px;
  }
}

/******************************************************************* Footer *******************************************************************************/
footer {
  height: 50px;
  color: #000;
  padding-top: 5px; 
  background-color: #fff;
  text-align: center;
}

footer h4 {
  display: inline-block;
  margin-right: 10px;
}

footer img {
  margin-bottom: 5px;
}

/************************************************************** Fade-in animation *************************************************************************/
@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  animation-delay: .2s;
}

.fade-in.two{
  -webkit-animation-delay: .6s;
  -moz-animation-delay: .6s;
  animation-delay: .6s;
}

.fade-in.three{
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  animation-delay: 1.3s;
}

.fade-in.four{
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

.fade-in.five{
  -webkit-animation-delay: 2.0s;
  -moz-animation-delay: 2.0s;
  animation-delay: 2.0s;
}

.fade-in.six{
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
}
