body, html {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000;
  font-family: 'Roboto Slab', Helvetica, sans-serif;
}

h1 {
  font-size: 45px;
}

@media(max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  h3 {
    font-size: 20px;
  }
}

/******************************************************************** Intro *****************************************************************************/
#intro {
  position: fixed;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  z-index: 0;
  background: -o-linear-gradient(top, #000, #bb2115);
  background: -ms-linear-gradient(top, #000, #bb2115);
  background: -moz-linear-gradient(top, #000, #bb2115);
  background: -webkit-linear-gradient(top, #000, #bb2115);
  background: linear-gradient(top, #000, #bb2115);
  filter:progid: DXImageTransform.Microsoft.gradient(startColorStr='#000', EndColorStr='#bb2115');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#000', EndColorStr='#bb2115')";
  transition: opacity 2s;
}

/*#intro.morning {
  opacity: 0.9;
}*/

  #intro #intro-name {
    font-family: 'Baloo Tamma', Helvetica, sans-serif;
    font-size: 120px;
  }
  
  #intro #intro-body {
    font-size: 20px;
  }

#canvas-wrap {
  overflow: hidden;
  position: relative;
}

#landscape, #grass, #moon, #sun {
  width: 100%;
  position: absolute;
}

#landscape {
  bottom: 66px;
  height: 350px;
  z-index: 2;
  background: url('../assets/img/landscape.png') repeat-x;
  background-position: -450px;
  background-size: auto 350px;
}

#grass {
  bottom: 0;
  height: 150px;
  z-index: 4;
  background: url('../assets/img/grass.png') repeat-x left;
  background-size: auto 150px;
}

#moon {
  height: 300px;
  top: 0;
  z-index: 1;
  background: url('../assets/img/moon.png') no-repeat;
  background-position: 100%;
  background-size: 300px;
}

#sun {
  height: 450px;
  z-index: 1;
  background: url('../assets/img/sun.png') no-repeat;
  background-position: 50%;
  background-size: 450px;
}

#soil {
  margin-top: -90px;
  height: 269;
  background: url('../assets/img/soil.png') repeat-x;
}

#overlay {
  width: 100%;
  display: block;
  position: absolute;
  top: 35%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  margin: auto;
  z-index: 3;
}

@media(max-width: 768px) {
  #intro #intro-name {
    font-size: 70px;
  }
  
  #landscape {
    background-position: 160px;
  }

  #moon {
    background-position: 50%;
    background-size: 200px;
  }

  #soil {
    margin-top: 0;
    height: 100px;
    background-size: auto 100px;
  }

  #overlay {
    top: 50%;
  }
}

/******************************************************************* Content *****************************************************************************/
#content {
  color: #2f4f4f;
  position: absolute;
  top: 100%;
  background-color: #fff;
  width: 100%;
}

#content section {
  padding-top: 50px;
}

#content h3.description {
  margin-bottom: 50px;
}

#content hr.black {
  color: #2f4f4f;
  background-color: #2f4f4f;
  border-color: #2f4f4f;
  border-width: 3px;
}

#content hr.white {
  color: #fff;
  background-color: #fff;
  border-color: #fff;
  border-width: 3px;
}

/******************************************************************* Navbar *****************************************************************************/
.navbar-custom {
  padding-bottom: 8px;
  background-color: #000;
  border-bottom: #000 solid;
}
.navbar-custom.affix {
  top: 0;
  width: 100%;
  z-index: 999;
}
  .navbar-custom .nav li > a {
    color: #fff;
  }
  .navbar-custom .nav li > a:hover {
    background-color: transparent;
    color: #a9a9a9;
  }
  .navbar-custom .nav li > a:focus,
  .navbar-custom .nav li > a:active {
    background-color: transparent;
  }
  .navbar-custom .nav li.active a {
    color: #a9a9a9;
  }

#nav-sub {
  margin-top: -66px;
  height: 66px;
  background-color: #000;
}

@media(min-width: 768px) {
  .navbar-custom {
    top: -66px;
    padding-top: 8px;
    -webkit-transition: background .3s ease-in-out, padding .3s ease-in-out;
    -moz-transition: background .3s ease-in-out, padding .3s ease-in-out;
    transition: background .3s ease-in-out, padding .3s ease-in-out;
  }

  .navbar-custom .nav {
    width: 100%;
    text-align: center;
  }
    .navbar-custom .nav li {
      float: none;
      font-size: 20px;
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
    }
}

@media(max-width: 768px) {
  .navbar-custom {
    top: 0;
  }

  .icon-bar {
    background-color: #fff;
  }

  .navbar-toggle {
    margin-top: 12px;
    margin-bottom: 6px;
  }

  .navbar-brand {
    margin-top: -10px;
  }

  .navbar-collapse {
    margin-top: 8px;
    margin-bottom: -8px;
  }
}

/****************************************************************** About Me *****************************************************************************/
#about {
  height: 950px;
}

#about h3 {
  line-height: 40px;
}

#about h4.body {
  line-height: 30px;
  font-weight: normal;
}

.red {
  color: #bb2115;
}

#resume {
  margin-top: -40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 25px;
  color: #2f4f4f;
  border: 3px #2f4f4f solid;
  border-radius: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#resume:hover,
#resume:focus {
  transform: scale(1.1);
}

@media(min-width: 768px) {
  .interest-margin {
    margin-top: -40px;
  }
}

@media(max-width: 768px) {
  #about {
    height: 900px;
  }
  #about img {
    height: 200px;
  }

  #resume {
    margin-top: 25px;
    font-size: 20px;
  }
}

/****************************************************************** Projects *****************************************************************************/
#projects {
  height: 1225px;
  background-color: #f0f0f0;
}

.project-top {
}

.project-bot {
  margin-top: 40px;
}

.block {
  display: inline-block;
  height: 300px;
  width: 450px;
  background: #fff;
  border: 3px #2f4f4f solid;
}

.project_img {
  margin-top: 50px;
}

.project_body {
  background-color: #f0f0f0;
  border: solid;
  top: 92px;
  bottom: 39px;
  left: 19px;
  right: 19px;
  font-size: 1em;
  opacity: 0;
  overflow: hidden;
  padding: 3.75em 3em;
  position: absolute;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.project_body:hover {
  opacity: 1;
  transform: scale(1.03);
}

.project_desc {
  margin-top: -30px;
}

.project_btn {
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  color: #2f4f4f;
  background-color: #f0f0f0;
  border-radius: 0px;
  border: 3px #2f4f4f solid;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.project_btn:hover,
.project_btn:focus {
  color: #2f4f4f;
  border: 3px #2f4f4f solid;
  transform: scale(1.1);
}

#fapl {
  margin-top: 100px;
}

#theta-tau {
  background-color: #ffd700;
}

#bulb {
  background-color: #ebc2a8;
}

#pokemon {
  background-color: #228b22;
}

/*.project_body:after,
.project_body:before {
  top: 92px;
  bottom: 39px;
  left: 19px;
  right: 19px;
  display: inline;
  opacity: 0;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.6s 0.2s;
  -moz-transition: 0.6s 0.2s;
  transition: 0.6s 0.2s;
}*/

@media(max-width: 768px) {
  #projects {
    height: 2000px;
  }

  .block {
    height: 270px;
    width: 360px;
  }

  .project_body {
    top: 70px;
    bottom: 28px;
    left: 15px;
    right: 15px;
  }
}

/******************************************************************* Skills ******************************************************************************/
#skills {
  height: 985px;
}

#curr_fav {
  margin-top: 30px;
}

#languages {
  margin-top: 50px;
}

.skills_img {
  margin-top: 20px;
  margin-bottom: 20px;
}

#code, #tools, .shadow {
  height: 150px;
  width: 120px;
  position: absolute;
}

.wrapper {
  height: 150px;
  width: 120px;
  margin-left: 220px;
  transition: all 5s linear 0s;
}
.wrapper:active {
  transform: scale(0);
}
.wrapper:active #code {
  height: 100px;
  z-index: 1;
  background: url('../assets/img/code-click.png') no-repeat;
  background-size: auto 100px;
  transition: background 0.3s ease-in-out;
}
.wrapper:active #tools {
  height: 100px;
  z-index: 1;
  background: url('../assets/img/tools-click.png') no-repeat;
  background-size: auto 100px;
  transition: background 0.3s ease-in-out;
}

#code {
  height: 100px;
  z-index: 1;
  background: url('../assets/img/code.png') no-repeat;
  background-size: auto 100px;
  animation: jump 1s infinite;
  transition: background 0.3s ease-in-out;
}

#tools {
  height: 100px;
  margin-left: 10px;
  z-index: 1;
  background: url('../assets/img/tools.png') no-repeat;
  background-size: auto 100px;
  animation: jump 1s infinite;
  transition: background 0.3s ease-in-out;
}

.shadow {
  height: 50px;
  width: 40px;
  bottom: 0;
  margin-left: 39px;
  background: rgba(20,20,20,.1);
  box-shadow: 0px 0 10px 18px rgba(20,20,20,.1);
  border-radius: 30px / 40px;
  transform: scaleY(0.3);
  animation: shrink 1s infinite;
}

.click_me {
  margin-top: 20px;
  margin-left: -120px;
  animation: pulse 1s linear infinite;
}

@keyframes jump {
  0% {
    top: 0;
    animation-timing-function: ease-in;
  }
  50% {
    top: 30px;
    animation-timing-function: ease-out;
  }
  55% {
    top: 40px;
    animation-timing-function: ease-in;
  }
  65% {
    top: 20px;
    animation-timing-function: ease-out;
  }
  95% {
    top: 0;
    animation-timing-function: ease-in;
  }
  100% {
    top: 0;
    animation-timing-function: ease-in;
  }
}

@keyframes shrink {
  0% {
    bottom: 0;
    animation-timing-function: ease-in;
  }
  50% {
    bottom: 20px;
    margin-left: 49px;
    width: 20px;
    height: 5px;
    background: rgba(20,20,20,.3);
    box-shadow: 0px 0 20px 35px rgba(20,20,20,.3);
    border-radius: 20px / 20px;
    animation-timing-function: ease-out;
  }
  100% {
    bottom: 0;
    margin-left: 39px;
    height: 50px;
    width: 40px;
    background: rgba(20,20,20,.1);
    box-shadow: 0px 0 10px 18px rgba(20,20,20.1);
    border-radius: 30px / 40px;
    animation-timing-function: ease-in;
  }
}

@keyframes pulse {
  0% { 
    transform: scale(1); 
    animation-timing-function: ease-in;
  }
  50% { 
    transform: scale(.95); 
    animation-timing-function: ease-out;
  }
  55% { 
    transform: scale(.9);
    animation-timing-function: ease-in;
  }
  60% { 
    transform: scale(.95);
    animation-timing-function: ease-out;
  }
  95% { 
    transform: scale(1); 
    animation-timing-function: ease-in;  
  }
  100% { 
    transform: scale(1);
    animation-timing-function: ease-in;
  }
}

@media(max-width: 768px) {
  #skills {
    height: 1200px;
  }

  #skills #curr_fav img {
    height: 50px;
  }
 
  #skills #languages h4 {
    font-size: 13px;
  }

  #skills #languages img {
    height: 15px;
    margin-top: 8px;  
  }

  #skills #languages .click_me img {
    height: 40px;
  }

  #languages {
    margin-top: 20px;
  }

  #code, #tools, .shadow {
    height: 115px;
    width: 90px;
  }

  .wrapper {
    height: 115px;
    width: 90px;
    margin-left: 145px;
  }
  .wrapper:active #code {
    height: 70px;
    background-size: auto 70px;
  }
  .wrapper:active #tools {
    height: 70px;
    background-size: auto 70px;
  }

  #code {
    height: 70px;
    background-size: auto 70px;
  }

  #tools_mobile {
    margin-top: 120px;
  }

  #tools {
    height: 70px;
    margin-left: 10px;
    background-size: auto 70px;
  }

  .shadow {
    height: 25px;
    width: 20px;
    margin-left: 32px;
  }

  .click_me {
    margin-top: 5px;
    margin-left: -90px;
  }

  @keyframes shrink {
    0% {
      bottom: 0;
      animation-timing-function: ease-in;
    }
    50% {
      bottom: 10px;
      margin-left: 37px;
      width: 8px;
      height: 2px;
      background: rgba(20,20,20,.3);
      box-shadow: 0px 0 10px 18px rgba(20,20,20,.3);
      border-radius: 20px / 20px;
      animation-timing-function: ease-out;
    }
    100% {
      bottom: 0;
      margin-left: 32px;
      height: 25px;
      width: 20px;
      background: rgba(20,20,20,.1);
      box-shadow: 0px 0 10px 18px rgba(20,20,20.1);
      border-radius: 30px / 40px;
      animation-timing-function: ease-in;
    }
  }
}

/******************************************************************* Skills ******************************************************************************/
#contact {
  height: 875px;
  color: #fff;
  background-color: #2f4f4f;
}

#contact input, textarea {
  width: 100%;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

#contact textarea {
  height: 300px;
}

#contact label {
  width: 100%;
  font-size: 25px;
  text-align: left;
}

#contact input.submit_btn {
  width: 120px;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  color: #2f4f4f;
  background-color: #fff;
  border-radius: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#contact input.submit_btn:hover,
#contact input.submit_btn:focus {
  color: #2f4f4f;
  transform: scale(1.1);
}

#social_btns {
  margin-top: 30px;
}

.social_btn {
  height: 50px;
  width: 50px;
  padding-top: 7px;
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
  background: transparent;
  border: solid;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.social_btn:hover,
.social_btn:focus {
  transform: scale(1.1);
}

@media(max-width: 768px) {
  #contact {
    height: 775px;
  }

  #contact textarea {
    height: 200px;
  }
}

/******************************************************************* Footer *******************************************************************************/
footer {
  height: 50px;
  color: #000;
  padding-top: 5px; 
  background-color: #fff;
  text-align: center;
}

footer h4 {
  display: inline-block;
  margin-right: 10px;
}

footer img {
  margin-bottom: 5px;
}

/************************************************************** Fade-in animation *************************************************************************/
@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  animation-delay: .2s;
}

.fade-in.two{
  -webkit-animation-delay: .6s;
  -moz-animation-delay: .6s;
  animation-delay: .6s;
}

.fade-in.three{
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  animation-delay: 1.3s;
}

.fade-in.four{
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

.fade-in.five{
  -webkit-animation-delay: 2.0s;
  -moz-animation-delay: 2.0s;
  animation-delay: 2.0s;
}

.fade-in.six{
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
}
